* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.navbar {
    padding-right: 2rem;
    margin-top: 2rem;
    width: 100%;
    height: 3rem;
    justify-content: flex-end;
    display: flex;
    position: relative;
}

.list {
   
    list-style: none;
    display: flex;
    gap: 7rem;
    transition: all 1 ease ;
   
}

.list-itens a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: "Bebas Neue", sans-serif;
    
}
.nameLogo a{
    font-size:1.3rem;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-weight: bolder;
    left: 3rem;
    position: absolute;
   color:rgb(202, 202, 202) ;
    cursor: pointer;
  
}
.email a {
    font-size:1.3rem;
    font-family: "Bebas Neue", sans-serif;
    left:36%;
    position: absolute;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1 ease ;
  
}
.email a:hover{
    font-size: 1.5rem;
   color:rgb(202, 202, 202) ;
}
.sidebar{
    width: 4rem;
    height: 18rem;
    background-color: blueviolet;
    position: relative;
    top: 8rem;
    left: 3rem;
    border-radius: 3rem;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    transition: all 0.3 ease ;
    
}
.list-itens a:hover{
 font-size: 1.5rem;
 color:rgb(202, 202, 202) ;
}
.sidebar:hover{
    transform: scale(1.2);
}
.sidebar ul:hover{
  gap:2.5rem;
}
.sidebar ul{
   display: flex;
   flex-direction: column;
   list-style: none;
   padding-left:10%;
   gap: 2rem;
}
.list-logos img{
    size: 3rem; 
    width: 3rem;
}
.itenslogos {
    gap: 20rem;
    justify-items: center;
}
.aboutMe{
    border: 1px solid red;
    display: flex;
    text-align: justify;
    width: 50%;
    position: absolute;
    margin-top: 15px;
    top: 159px;
    right:0;
    height: 250px;
}
